# -----------------------
# Python
# -----------------------
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Python virtual environments
venv/
.venv/

# Node / frontend dependencies
node_modules/
dist/

# Python cache
.pytest_cache/
.mypy_cache/

# Django
*.sqlite3
media/
staticfiles/

# Environment Variables & Secrets
.env
.env.*